* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
a:link {
    color: blue;
}
a:visited {
    color: purple;
}
a:hover {
    color: #333399;
}
a:active {
    color: #6600FF;
}
a:focus {
  color: #333399;
}
ul li {
  list-style-type: none;
  margin-top:5%;
  font-size:1.1em;
  width:90%;
}
body{
  margin:0;
}
.header{
    overflow:hidden;
    text-align:center;
    background: #FFE680;
}
.courses,.registration{
  background:lightgreen;
  padding:2%;
}
.secondary {
  display:none;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
  clear:both;
  background-color: gray;
}
.registration input, textarea{
  width:98%;
  padding:1%;
  margin:1%;
}
.button{
  padding:1%;
  margin:1%;
}
.footer {
    padding:2%;
	  background-color: #CEC5B3;
    clear:both;
    text-align:center;
}
@media all and (min-width: 30em) {
.aside {
	width: 30%;
  float:left;
  overflow: hidden;
}
.header {
    width: 70%;
    float:right;
    overflow:hidden;
}
.secondary {
    display: flex;
    width:70%;
    float:right;
    overflow: hidden;
}
.secondary .item {
    background-color: lightgrey;
  width:99%;
    padding: 10px;
    flex: 1 0 0;
}
.courses {
    width: 70%;
    padding:2%;
    float:right;
    overflow:hidden;
}
.registration {
    width:70%;
    padding: 2%;
    float:right;
    overflow:hidden;
  } 
}
@media all and (min-width: 60em) {
  .wrapper {
  width:85%;
  }
}
